lib/DPDK/dpdk-*.*.tar.xz
lib/DPDK/dpdk-*.*/
lib/DPDK/dpdk/
lib/JSON/parson/
lib/MCAP/build/
lib/MCAP/embeddedsw/
lib/MCAP/pciutils/
lib/MCAP/*.pc
lib/MCAP/*.c
lib/MCAP/*.h
lib/MCAP/mcap
lib/MCAP/Makefile
lib/OpenCV/OpenCV/
lib/OpenCV/*.zip
lib/build/
tools/sample_tester/build/
tools/dbgreg/reg32r
tools/dbgreg/reg32w
tools/get_fpga_power/get_fpga_power
.vscode/
*.log
*.o
*.a
*.so
*.ko
